# compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# temporary raw files
app/jobs/test

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
# var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask stuff:
instance/
.webassets-cache
app/static/jquery-3.2.1.min.js

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/

# deprecated
dep/

# raw data files
static/raw/*

# celery/redis (queueing files)
var/celery/*
var/redis/*
celerybeat.pid

# cloc
cloc.sh
