{% extends "base.html" %}

{% block body %}

<div class='about'>
  <h1>About</h1>
  <p> Maybe you've had a shockingly good day and just need some sadness.
  Maybe you need to be reminded that, as a <i>SPECIES</i>, we are the product of millions of years
  of evolution (if you believe in that sort of thing), but on the individual level it's a real tossup.
  Or maybe you're a sick freak and you really get off to this horse shit.</p>
  <p>Whatever it is, you've got a hankering for the good stuff. The 100% Grade "A" Phony Baloney. And
  we gotchu.</p>
  <p>Read as much Breitbart as you want.</p>
  <p>And don't worry about contributing to the readerbase.</p>

  <h1>Terms</h1>
  <p>Buy it, use it, break it, fix it,
  <br>Trash it, change it, mail - upgrade it.</p>
  <p>Seriously brah. IDGAF.</p>

  <h1>Colophon (About for Nerds)</h1>
  <p>Breitbot was developed on the Python Flask microframework. Webpages are served up like hot
  tamales thanks to Gunicorn. Database storage is provided by the grossly overpowered PostgreSQL.
  Static files are provided through AWS. Asynchronous task queueing is done with Celery. 
  Hosting is done on Heroku.  All webdesign was done by monkeys on typewriters; they will be happy
  to field your complaints.</p>
  <p>All views are my own. Unless they're really idiotic; then they're probably yours.</p>
</div>

{% endblock %}
